body {
    background-image: url("https://i.pinimg.com/originals/2f/db/3c/2fdb3cc31394d12474847bb4dbeff443.jpg");
    background-attachment: fixed;
    margin: auto;
    padding: 50px 60px 80px 110px;
    height: auto;
    width: auto;
    text-align: justify;
    text-decoration: none;
    color: #ffffff;
}

.img-main {
    max-width: 250px;
    border: 10px double rgb(150, 0, 0);
    border-radius: 10%;
    outline: 3px outset rgb(30, 30, 30);
    outline-offset: 1px;
}

#description {
    text-shadow: 2px 2px 5px rgb(219, 8, 8);
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: #df0000e5;
}

a:hover {
    text-decoration: underline;
    color: rgb(253, 94, 94);
}

a:active {
    text-decoration: underline;
    color: rgb(150, 0, 0);
}

.menu {
    background-color: #570600;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#menu-alt {
    background-color: #570600;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #df0000e5
}

th {
    background-color: #c01313;
    color: white;
}

a.highlight:hover {
    color: #ff0000;
}